<div class="list-section-heading">
    <a class="activeDefense-roll">Defenses</a>
</div>
<div class="stats-div">
    <p>

        <span class="main-label">Dodge</span>


        <span class="main-label">{{data.dodgeDefense}}</span>

    </p>
    <p>

        <span class="main-label">Melee</span>


        <span class="main-label">{{data.meleeWeaponsDefense}}</span>

    </p>
    <p>

        <span class="main-label">Unarmed</span>


        <span class="main-label">{{data.unarmedCombatDefense}}</span>

    </p>
    <p>

        <span class="main-label">Intimidation</span>


        <span class="main-label">{{data.intimidationDefense}}</span>

    </p>
    <p>

        <span class="main-label">Maneuver</span>


        <span class="main-label">{{data.maneuverDefense}}</span>

    </p>
    <p>

        <span class="main-label">Taunt</span>


        <span class="main-label">{{data.tauntDefense}}</span>

    </p>
    <p>

        <span class="main-label">pick</span>


        <span class="main-label">{{data.pickDefense}}</span>

    </p>
</div>